.playlist-page {
  color: white;
  padding: 20px;
}

.playlist-page-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.playlist-page-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.playlist-page-details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.playlist-page-title {
  font-size: 40px;
  font-weight: bold;
}

.playlist-page-subtext {
  margin: 0;
  font-size: 18px;
  color: #b3b3b3;
}

.playlist-page-meta {
  font-size: 16px;
  color: #b3b3b3;
}
